.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(200px, auto);
}

.at-a-glance{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px; 
}
.span-3{
    grid-column: span 3;
}
.span-12{
    grid-column: span 12;
}

.paper-wrapper{
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.09);
}

.growth{
    font-size: 22px;
}

.charts{
    background: #fff;
}