<a href="#" class="navbar-brand">WALLACE</a>

<ul class="nav-links">
    <li><a class="links" routerLink="/dashboard" (click)='addActive($event)'>Dashboard</a></li>
    <li><a class="links" href="#" (click)='addActive($event)'>Calendar</a></li>
    <li><a class="links" href="#" (click)='addActive($event)'>Chat</a></li>
    <li><a class="links" href="#" (click)='addActive($event)'>Chart</a></li>
    <li><a class="links" routerLink="/forms" (click)='addActive($event)'>Forms</a></li>
    <li><a class="links" routerLink="/ui-elements" (click)='addActive($event)'> UI Elements</a></li>
    <li><a class="links" href="#" (click)='addActive($event)'>Tables</a></li>
</ul>