.navbar-brand{
    color: #fff ;
    font-size: 22px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid var(--primary);
    padding: 16px 0 15px;
}

.nav-links{
    list-style: none;
    list-style: none;
    padding: 10px 15px;
}

.nav-links > li {
    padding-left: 10px;
}

.nav-links > li a.active {
    background-color: var(--primary);
    transition: all 0.17s ease;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.08);
}

.nav-links > li:hover {
    border-left: 5px solid var(--accent-color);
    background-color: var(--primary);
    transition: all 0.17s ease;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.08);
}

.nav-links > li:hover > a {
    color: #dfdfdf;
    font-weight: 700;
}

.nav-links > li > a {
    text-decoration: none;
    color: #dfdfdf;
    font-size: 14px;
    padding: 10px;
    display: block;
} 

